* {
  outline: none!important;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  padding: 0 10px;
  max-width: 1200px;
}